@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    // Positive
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    // Negative
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

@function modular-scale($scale, $ratio) {
  @return pow($ratio, $scale) + 0rem;
}
