@font-face {
  font-family: 'TheMix';
  src: url("../fonts/the-mix/TheMix_LP_500_.eot");
  src: url("../fonts/the-mix/TheMix_LP_500_.eot?#iefix") format("embedded-opentype"),
      url("../fonts/the-mix/TheMix_LP_500_.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TheMix';
  src: url("../fonts/the-mix/TheMix_LP_700_.eot");
  src: url("../fonts/the-mix/TheMix_LP_700_.eot?#iefix") format("embedded-opentype"),
      url("../fonts/the-mix/TheMix_LP_700_.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TheSans';
  src: url("../fonts/the-sans/TheSans_LP_500_Plain.eot");
  src: url("../fonts/the-sans/TheSans_LP_500_Plain.eot?#iefix") format("embedded-opentype"),
      url("../fonts/the-sans/TheSans_LP_500_Plain.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TheSans';
  src: url("../fonts/the-sans/TheSans_LP_600_SemiBold.eot");
  src: url("../fonts/the-sans/TheSans_LP_600_SemiBold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/the-sans/TheSans_LP_600_SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TheSans';
  src: url("../fonts/the-sans/TheSans_LP_700_Bold.eot");
  src: url("../fonts/the-sans/TheSans_LP_700_Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/the-sans/TheSans_LP_700_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
