html {
  color: $black;
}

a {
  transition: all 0.15s cubic-bezier(.18,.89,.32,1.28);
}

h1,
h1.Document-title,
h2,
h3,
h4,
h5 {
  font-family: $font-serif;
  line-height: normal;
}

h1,
h1.Document-title {
  font-size: $fs-up-4;
  font-weight: $fw-normal;
}

h2 {
  font-size: $fs-up-2;
  font-weight: $fw-bold;
  margin-top: $space-l;
  color: $red;
}

h3 {
  font-size: $fs-up-1;
  font-weight: $fw-bold;
}

h4 {
  font-size: $fs-base;
  font-weight: $fw-bold;
}

h5 {
  font-size: $fs-base;
  font-weight: $fw-bold;
}

h2 + h3 {
  margin-top: $space-m;
}

h2 + p {
  margin-top: $space-s;
}

h3 + p {
  margin-top: $space-xs;
}

.Prose h4 {
  margin-top: $space-m;
}

h4 + p {
  margin-top: 0;
}

table {
  font-size: inherit;
}
