<div class="border border--rounded margin--x--m padding--m">
  <div class="status-indicator" data-status-list="Stap overgeslagen|Stap voltooid|Huidige stap|Toekomstige stap">
    <div class="status-indicator__lines">
      <span class="status-indicator__background"></span>
      <span class="status-indicator__progress"></span>
    </div>
    <ol class="status-indicator__content">
      <li class="status-indicator__step status-indicator__skip-step">
        <div class="status-indicator__title-container">
          <span class="status-indicator__icon"></span>
          <button class="status-indicator__label">Basisinformatie<span>(Stap overgeslagen)</span></button>
        </div>
      </li>

      <li class="status-indicator__step status-indicator__done-step">
        <div class="status-indicator__title-container">
          <span class="status-indicator__icon"></span>
          <button class="status-indicator__label">Aanvullende informatie</button>
        </div>
        <ol class="status-indicator__description-list">
          <li class="status-indicator__description-container">
            <span class="status-indicator__dot"></span>
            <span class="status-indicator__description">
              13 maart: Uw aanvraag is in goed orde ontvangen. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur explicabo nisi officiis tempore totam? Blanditiis dicta.<br>
            </span>
          </li>
        </ol>
      </li>

      <li class="status-indicator__step status-indicator__current-step">
        <div class="status-indicator__title-container">
          <span class="status-indicator__icon"></span>
          <button class="status-indicator__label">Intake</button>
        </div>
        <ol class="status-indicator__description-list">
          <li class="status-indicator__description-container">
            <span class="status-indicator__dot"></span>
            <span class="status-indicator__description">19 maart: Uw aanvraag is in goed orde ontvangen. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur explicabo nisi officiis tempore totam? Blanditiis dicta.</span>
          </li>
          <li class="status-indicator__description-container">
            <span class="status-indicator__dot"></span>
            <span class="status-indicator__description">22 maart: Uw aanvraag is in goed orde ontvangen. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur explicabo nisi officiis tempore totam? Blanditiis dicta.</span>
          </li>
        </ol>
      </li>

      <li class="status-indicator__step">
        <div class="status-indicator__title-container">
          <span class="status-indicator__icon"></span>
          <button class="status-indicator__label">Samenvatting</button>
        </div>
        <ol class="status-indicator__description-list">
          <li class="status-indicator__description-container" tabindex="-1">
            <span class="status-indicator__dot"></span>
            <span class="status-indicator__description">21 maart: Uw aanvraag is in goed orde ontvangen. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur explicabo nisi officiis tempore totam? Blanditiis dicta.</span>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</div>
