.left {
  float: left;
}

.right {
  float: right;
}

/**
 * Hide visually content, but visible for screen readers.
 */
.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

/**
 * Display
 */
.hide {
  display: none !important;
}

/**
 * Text alignment
 */
.align-right {
  text-align: right;
}

/**
 * Border
 */
.border {
  border: $border;

  // Rounded
  &--rounded {
    border-radius: $border-radius-l;
  }
}

/**
 * Padding
 */
.padding {

  /*
   * All sides
   */
  &--xs {
    padding: $space-xs;
  }

  &--s {
    padding: $space-s;
  }

  &--m {
    padding: $space-m;
  }

  /*
   * X-axis sides
   */
  &--x--xs {
    padding-top: $space-xs;
    padding-bottom: $space-xs;
  }

  &--x--s {
    padding-top: $space-s;
    padding-bottom: $space-s;
  }

  &--x--m {
    padding-top: $space-m;
    padding-bottom: $space-m;
  }

  /*
   * Y-axis sides
   */
  &--y--xs {
    padding-left: $space-xs;
    padding-right: $space-xs;
  }

  &--y--s {
    padding-left: $space-s;
    padding-right: $space-s;
  }

  &--y--m {
    padding-left: $space-m;
    padding-right: $space-m;
  }
}

/**
 * Margin
 */
.margin {

  /*
   * All sides
   */
  &--xs {
    margin: $space-xs;
  }

  &--s {
    margin: $space-s;
  }

  &--m {
    margin: $space-m;
  }

  /*
   * X-axis sides
   */
  &--x-xs {
    margin-top: $space-xs;
    margin-bottom: $space-xs;
  }

  &--x--s {
    margin-top: $space-s;
    margin-bottom: $space-s;
  }

  &--x--m {
    margin-top: $space-m;
    margin-bottom: $space-m;
  }

  /*
   * Y-axis sides
   */
  &--y--xs {
    margin-left: $space-xs;
    margin-right: $space-xs;
  }

  &--y--s {
    margin-left: $space-s;
    margin-right: $space-s;
  }

  &--y--m {
    margin-left: $space-m;
    margin-right: $space-m;
  }
}
